#root {
  display: grid;
  grid-template-areas:
    "header header header"
    "main main input"
    "main main output";
  grid-template-rows: 4vh 48vh 48vh;
  grid-template-columns: 40vw 30vw 30vw;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

.panel {
  grid-area: header;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.editor {
  grid-area: main;
  background-color: aquamarine;
  border-right: 1px solid rgb(229, 229, 229);
}

.editorIn {
  grid-area: input;
}

.editorOut {
  grid-area: output;
  border-top: 1px solid rgb(229, 229, 229);
}

.editor,
.editorIn,
.editorOut {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.loading-message {
  position: absolute;
  margin: 0 auto;
  top: 50%;
  left: 0;
  right: 0;
  text-align: center;
}

/* Managment panel */

/*  TODO:
    - Сделать центрирование текста по вертикали
*/

.panel {
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
}

.panel #logo {
    margin-right: 10px;
    font-weight: 400;
    text-decoration: solid underline 1px;
}

.panel div {
  margin-left: 16px;
  height: 100%;
  display: inline;
}
